#categories  .tab > a:hover {
	background-color: #57A5E8;
	color: #fff;
}

#categories .activetab > a,
#categories .activetab > a:hover {
	background: #12A3EB;
	background: -moz-linear-gradient(top, #55C3FA 0%, #12A3EB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55C3FA), color-stop(100%, #12A3EB));
	background: -webkit-linear-gradient(top, #55C3FA 0%, #12A3EB 100%);
	background: -o-linear-gradient(top, #55C3FA 0%, #12A3EB 100%);
	background: -ms-linear-gradient(top, #55C3FA 0%, #12A3EB 100%);
	background: linear-gradient(to bottom, #55C3FA 0%, #12A3EB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55C3FA', endColorstr='#12A3EB', GradientType=0 );
	border-color: #12A3EB;
	box-shadow: 0 1px 1px #F2F9FF inset;
	color: #fff;
	padding-bottom: 8px;
	margin-bottom: -1px;
}